<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Go to the main page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.03.2022</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      architecto itaque ex tempore nulla suscipit nihil nobis tenetur modi quas,
      molestias aut quidem nemo dolore rerum nesciunt iure dolorem voluptas
      culpa illum rem reprehenderit! Facere eligendi molestiae nihil saepe
      delectus pariatur temporibus debitis voluptates beatae, consequatur sint
      eaque! Aut, provident!
    </p>
    <p>
      Aperiam nesciunt vel, excepturi incidunt cumque provident cupiditate minus
      nobis soluta molestiae voluptate! Molestiae ipsam voluptates rerum magni
      doloribus? Blanditiis fugiat numquam ut repellendus officia adipisci,
      repellat aspernatur quaerat excepturi. Sit molestias nam, natus cupiditate
      repellat atque culpa odit tempora molestiae labore repudiandae, libero
      dolorum consequuntur? Ipsam temporibus necessitatibus nisi.
    </p>
    <p>
      Nulla incidunt facilis explicabo id eum. Quae dolorum, quaerat odit
      tempore qui est rerum commodi in voluptas vitae hic necessitatibus? Porro
      quia quod assumenda error accusamus veritatis molestias quam nobis ullam.
      Placeat incidunt error aliquid cum animi vero, voluptate doloremque
      nesciunt. Soluta voluptatum consequuntur dolores labore id quis numquam
      repellat.
    </p>
    <p>
      Eaque, facilis cumque, quaerat quo labore dolore quisquam incidunt
      expedita animi suscipit possimus praesentium. Facere ad asperiores
      incidunt itaque, in culpa eius cumque, magnam hic et autem explicabo.
      Similique sint, recusandae eius laboriosam necessitatibus minus id
      possimus beatae? Doloribus quam dolore maxime dolorum pariatur rem officia
      eos voluptate soluta eligendi.
    </p>
  </div>
</div>
